@media (max-width: 576px) {
  .hero-item:nth-child(1) {
    display: none;
  }
  .hero-item:nth-child(2) {
    display: none;
  }
  .hero-item:nth-child(3) {
    display: none;
  }
  .women-hero {
    display: none;
  }
  .container {
    padding: 0 5px;
  }
  .card {
    min-width: 100% !important;
  }
  .cards-links ul {
    flex-direction: column;
    gap: 10px;
  }
  .latest-content {
    flex-wrap: wrap;
  }
  .latest-item {
    width: 100%;
  }

  .essentials-img {
    width: 100% !important;
  }

  section {
    padding: 40px 15px !important;
  }
  .hero-text {
    max-width: 80%;
  }
  .new-hero {
    background: none;
  }
}

@media (min-width: 576px) {
  .card {
    min-width: 47% !important;
  }

  .container {
    width: 540px;
  }
}

@media (max-width: 768px) {
  .hero_right {
    display: none;
  }
  .black-banner {
    padding-left: 25px;
    padding-right: 25px;
  }
  .hero {
    padding-top: 100px !important;
  }
  .men {
    display: flex;
    flex-direction: column;
  }
  .left {
    display: none;
  }

  .casual {
    width: 100%;
  }
  .street {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .essentials-list {
    flex-wrap: wrap;
  }
  .essentials-img {
    width: 48%;
  }
  .essentials-img:nth-child(3) {
    width: 100%;
  }
  .navbar-brand {
    max-width: 60%;
  }

  .navbar-brand img {
    width: 100%;
  }

  .container {
    padding: 0 15px;
  }

  .filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
  }

  .hero_left {
    width: 100%;
  }
  .hero_righ {
    width: 100%;
  }
  .hero {
    flex-wrap: wrap;
  }

  .catalog-list {
    width: 100%;
  }

  .carousel-item {
    width: 100%;
  }

  .carousel ul {
    width: 100%;
    display: flex;
  }

  .right-side {
    width: 100%;
    order: 0;
  }

  .computers {
    flex-wrap: wrap;
  }

  .filter ul {
    width: 100%;
  }

  .left {
    width: 100%;
    order: 2;
  }

  .right {
    width: 100%;
    order: 1;
  }

  .main-part {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .card {
    min-width: 18% !important;
  }

  .card-list {
    gap: 15px;
  }
  .right-side {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .browse {
    gap: 12px;
    padding: 20px 20px !important;
    border-radius: 16px;
    margin-top: 20px;
  }
  .browse-content {
    gap: 12px;
    padding: 0;
  }
  .contacts {
    flex-wrap: wrap;
  }
  .contact-item {
    width: 100%;
  }
  .cards,
  .essentials,
  .latest {
    margin-top: 0;
  }
  .contact-text {
    max-width: 100%;
    border-radius: 0;
  }
  h3 {
    margin-bottom: 5px;
  }
  p {
    line-height: 24px !important;
  }

  .partner {
    width: 20%;
  }

  footer {
    padding: 0 0 40px;
  }

  .footer__content {
    align-items: center;
    justify-content: center;
  }

  .footer_links {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  section {
    padding: 40px 15px !important;
  }

  header nav {
    display: none;
  }

  .phones {
    display: none;
  }

  .search {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  header nav {
    display: flex;
  }

  .phones {
    display: flex;
  }

  .search {
    display: flex;
  }

  .burger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .image-h1 {
    font-size: 36px;
    line-height: 50px;
  }

  h1 {
    font-size: 36px;
    line-height: 50px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  section {
    padding: 0;
  }
}
